.centered-div {
  transform: translate(-50%, -85%);
  position: absolute;
  top: 0;
  left: 50%;
  animation: slide 1s cubic-bezier(0.42, 0, 0, 1.42) forwards;
}

@keyframes slide {
  0% {
    transform: translate(-50%, -85%);
  }

  100% {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
