#listNavBar {
  list-style: none;
  display: inline;
}
.navBorder {
  background-color: white;
}
.navBar {
  display: flex;
  height: 50px;
}
#wrapperNavBar {
  display: flex;
  margin: auto;
}
.listNavBarItem {
  text-decoration: none;
  color: black;
}
.listNavBarItem:hover {
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
}
.listNavBarItemActive {
  text-decoration: underline;
  text-decoration-color: #135dd8;
  text-decoration-thickness: 2px;
}

.navPage {
  display: flex;
}
