#postDesc {
  background-color: black;
  width: 100%;
  padding: 20px;
}

.wrapper {
  opacity: 0;
  animation: fade-in 2s forwards ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
